{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="w-layout-blockcontainer container-main w-container">
    <aside class="section-hero mt-s wf-section">
        <div class="w-layout-grid grid-hero"><img src="{% static 'webflow/images/cup-tea.jpg' %}" loading="lazy"
                id="w-node-_6b98d864-29fd-f206-db6e-56e5b5fe9f43-b42247f5" sizes="(max-width: 767px) 100vw, 175px"
                srcset="
                {% static 'webflow/images/cup-tea-p-500.jpg' %} 500w,
                {% static 'webflow/images/cup-tea-p-800.jpg' %} 800w,
                {% static 'webflow/images/cup-tea-p-1080.jpg' %} 1080w,
                {% static 'webflow/images/cup-tea.jpg' %} 1368w" alt="" class=" image-hero">
            <div id="w-node-_5f7a03ee-ff50-78f2-9058-9115bb24e2e8-b42247f5" class="div-hero-wrapper">
                <h1 class="text-white hero-heading">Natural Lose Tea</h1>
                <h2 class="text-white mb-s">produced by family business</h2>
                <a href="{% url 'products' %}" class="button-hero mt-s w-button">browse tea</a>
            </div>
        </div>
    </aside>
    <ul role="list" class="list-hero pt-s pb-s w-list-unstyled">
        <li class="list-item-product-hero">
            {% if products.0.image %}
            <a href="{% url 'product_detail' products.0.id %}" class="w-inline-block"><img
                    src="{{ products.0.image.url }}" loading="lazy" alt="{{ products.0.name }}"
                    class="img-list-hero"></a>
            {% else %}
            <a href="{% url 'product_detail' products.0.id %}" class="w-inline-block"><img
                    src="{{ MEDIA_URL }}noimage.png" loading="lazy" alt="{{ products.0.name }}"
                    class="img-list-hero"></a>
            {% endif %}
            <a href="{% url 'product_detail' products.0.id %}" class="link-block w-inline-block">
                <h2 class="h2-hero-products mt-s">{{ products.0.name }}</h2>
            </a>
            <p class="p-price-product-card"><span class="product-price">{{ products.0.price }}$</span> per Pack</p>
        </li>
        <li class="list-item-product-hero">
            {% if products.0.image %}
            <a href="{% url 'product_detail' products.1.id %}" class="w-inline-block"><img
                    src="{{ products.1.image.url }}" loading="lazy" alt="{{ products.1.name }}"
                    class="img-list-hero"></a>
            {% else %}
            <a href="{% url 'product_detail' products.1.id %}" class="w-inline-block"><img
                    src="{{ MEDIA_URL }}noimage.png" loading="lazy" alt="{{ products.1.name }}"
                    class="img-list-hero"></a>
            {% endif %}
            <a href="{% url 'product_detail' products.1.id %}" class="link-block w-inline-block">
                <h2 class="h2-hero-products mt-s">{{ products.1.name }}</h2>
            </a>
            <p class="p-price-product-card"><span class="product-price">{{ products.1.price }}$</span> per Pack</p>
        </li>
        <li class="list-item-product-hero">
            {% if products.2.image %}
            <a href="{% url 'product_detail' products.2.id %}" class="w-inline-block"><img
                    src="{{ products.2.image.url }}" loading="lazy" alt="{{ products.2.name }}"
                    class="img-list-hero"></a>
            {% else %}
            <a href="{% url 'product_detail' products.2.id %}" class="w-inline-block"><img
                    src="{{ MEDIA_URL }}noimage.png" loading="lazy" alt="{{ products.2.name }}"
                    class="img-list-hero"></a>
            {% endif %}
            <a href="{% url 'product_detail' products.2.id %}" class="link-block w-inline-block">
                <h2 class="h2-hero-products mt-s">{{ products.2.name }}</h2>
            </a>
            <p class="p-price-product-card"><span class="product-price">{{ products.2.price }}$</span> per Pack</p>
        </li>
    </ul>
</div>
{% endblock %}