{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="page-header">Thank You!</h2>
<div class="w-layout-blockcontainer container-checkout w-container">
    <h3 class="heading-upper-checkout">Your order was successfull</h3>
    <p class="p-checkout-success">Thank you for your purchase, a confirmation email has been sent to
        {{ order.email_address }}.</p>
    <h4 class="heading-4">Order Details</h4>
    <ul role="list" class="list-checkout-success">
        {% for item in order.orderlineitems.all %}
        <li class="list-item-checkout-success">{{ item.product.name }}
            {% if item.product_weight %}{{ item.product_weight }}{% endif %} x{{ item.quantity }}
            {{ item.product.price }}$</li>
        {% endfor %}
    </ul>
    <h4 class="h4-checkout-success">Delivered To</h4>
    <p class="p-checkout-success">
        {{ order.full_name }}<br>{{ order.delivery_address }}<br>
        {{ order.town_or_city }}<br>{% if order.zip_code %}{{ order.zip_code }}{% endif %}<br>
        {% if order.state %}{{ order.state }}{% endif %}{{ order.country }}
    </p>
</div>
{% endblock %}