{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/modal-checkout.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h2 class="page-header">Checkout </h2>
<div class="w-layout-blockcontainer container-checkout w-container">
    <div class="form-block-checkout w-form">
        <form action="{% url 'checkout' %}" method="POST" class="form-checkout">
            {% csrf_token %}
            <h3 class="heading-upper-checkout">Personal Info</h3>
            <span>
                Email Adrress*
                {{ order_form.email_address | as_crispy_field }}
                Phone Number
                {{ order_form.phone_number | as_crispy_field }}
            </span>
            <h3 class="heading-checkout">Delivery Information</h3>
            <span>
                Full Name*
                {{ order_form.full_name | as_crispy_field }}
                Address *
                {{ order_form.delivery_address | as_crispy_field }}
                Town or City*
                {{ order_form.town_or_city | as_crispy_field }}
                ZIP Code
                {{ order_form.zip_code | as_crispy_field }}
                Sate
                {{ order_form.state | as_crispy_field }}
                Country*
                {{ order_form.country | as_crispy_field }}
            </span>
            <p>Fileds with an * are required!</p>
            <h3 class="heading-checkout">Payment</h3>
            <div id="card-element"></div>
            <div id="card-errors" role="alert"></div>
            <p class="paragraph-3">Your card will be charged with <span
                    class="text-span-7">{{ grand_total|floatformat:2 }}$</span></p>
            <div class="container-btns-bag-l">
                <a href="{% url 'shopping_bag' %}" class="btn-bag-main w-button"><span
                        class="btn-icon1-bag"></span>Adjust Bag</a>
                <a href="#" id="btn-checkout-m" class="btn-modal-m btn-bag-main w-button">Secure
                    Checkout<span class="btn-icon2-bag"></span></a>
            </div>
            <div class="container-btns-bag-s">
                <a href="#" id="btn-checkout-s" class="btn-modal-s btn-bag-main w-button">Secure
                    Checkout<span class="btn-icon2-bag"></span></a>
                <a href="{% url 'shopping_bag' %}" class="btn-bag-main w-button"><span
                        class="btn-icon1-bag"></span>Adjust Bag</a>
            </div>
            <!-- Confirmation Modal -->
            <div id="modal-checkout" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Proceed with Checkout?</h4>
                        <span class="modal-close" id="close-checkout">&times;</span>
                    </div>
                    <div class="modal-body">
                        Your card will be charged with <strong>{{ grand_total|floatformat:2 }}$</strong>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" id="cancel-checkout">Go Back</button>
                        <button id="submit-button" class="btn">Complete Order <i
                                class="fa-regular fa-credit-card"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}