@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Colors
Primary #032407
Secondary #f4c430
Background #484848
Text #333333  
Button Red #d10000
Button Orange #ff4b03
*/

/* Main Setup */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333333;
}

h1 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 3.125rem;
}

h2 {
    font-family: 'Caveat', sans-serif;
    font-weight: 700;
    font-size: 2.062rem;
}

/* Margins & Paddings */
.mt-s {
    margin-top: 8px;
}

.mb-s {
    margin-bottom: 8px;
}

.mr-s {
    margin-right: 8px;
}

.ml-s {
    margin-left: 8px;
}

.mt-l {
    margin-top: 16px;
}

.mb-l {
    margin-bottom: 16px;
}

.mr-l {
    margin-right: 16px;
}

.ml-l {
    margin-left: 16px;
}

/* Toasts */
.message-container {
    z-index: 99999999999;
    position: fixed;
    top: 6rem;
    right: 1rem;
}

.toast {
    position: fixed;
    top: 24px;
    right: 16px;
    z-index: 1000;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 7px;
    padding: 10px;
    width: 300px;
    overflow: visible;
}

.toast-header {
    background-color: #ffffff;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.toast-body {
    font-size: 14px;
}

.toast .toast-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #ffffff;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-right: 4px;
}


/* Forms */
.form-input {
    height: 40px;
    width: 100%;
    padding: 0 7px 0 7px;
    border: 1px solid #333333;
    border-radius: 7px;
    background-color: #ffffff;
    margin-bottom: 8px;
}

.textarea {
    min-height: 200px;
}

.image-edit label {
    display: inline;
}

/* Buttons */
.btn {
    font-family: 'Caveat';
    font-size: 21px;
    font-weight: 700;
    color: #333333;
    background-color: #f4c430;
    text-decoration: none;
    padding: 9px 15px;
    border-radius: 7px;
    line-height: initial;
}

@media (max-width: 767px) {
    .btn {
        width: fit-content;
    }
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding-left: 8px;
    border: 1px solid #333333;
    border-radius: 7px;
    width: 400px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-close {
    cursor: pointer;
    font-size: 24px;
    padding-right: 16px;
}

.modal-footer {
    display: flex;
    justify-content: flex-start;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media (max-width: 478px) {
    .modal-content {
        width: 90%;
    }

    .modal {
        margin-top: 50px;
    }
}

/* Allauth */
/* Sign Up */
.signup input {
    height: 40px;
    width: 100%;
    padding: 0 7px 0 7px;
    border: 1px solid #333333;
    border-radius: 7px;
    background-color: #ffffff;
    margin-bottom: 8px;
}

/* Log In */
.login input {
    height: 40px;
    width: 100%;
    padding: 0 7px 0 7px;
    border: 1px solid #333333;
    border-radius: 7px;
    background-color: #ffffff;
    margin-bottom: 8px;
}

.login #id_remember {
    width: fit-content;
    height: fit-content;
}

.login label {
    display: inline-table;
}

.login label,
.login input {
    white-space: nowrap;
}

.primaryAction,
.secondaryAction {
    display: flex;
}

/* Forgot Password */
.password_reset #id_email {
    height: 40px;
    width: 100%;
    padding: 0 7px 0 7px;
    border: 1px solid #333333;
    border-radius: 7px;
    background-color: #ffffff;
    margin-bottom: 8px;
}

.password_reset .btn {
    border: 1px solid #f4c430;
}

/* Navbar */
.search {
    margin: 16px 0 16px 0;
}

.nav-link,
.w-dropdown-link {
    color: #333 !important;
}

/* Products List */
.sort-select-container {
    display: flex;
    justify-content: center;
}

#sort-select-box {
    height: 33px;
    margin-top: 8px;
    background-color: #fff;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

@media (max-width: 767px) {
    .btn-odd {
        justify-content: end;
    }

    .btn-even {
        justify-items: start;
    }
}

/* Product Detail */
.product-form {
    margin: 8px 0 0 88px;
}

.product-form-control {
    width: 69px;
    height: 28px;
    padding: 0 7px 0 7px;
    border: 1px solid #333333;
    border-radius: 7px;
}

.fa-bag-shopping {
    margin-left: 3px;
}

@media (max-width: 767px) {
    .product-form {
        margin: 8px 0 0 16px;
    }

    .bnts-container {
        display: flex;
        flex-direction: column-reverse;
    }
}

#cancelDeleteProduct {
    color: #fff;
    background-color: #ff4b03;
    margin-right: 8px;
}

#confirmDeleteProduct {
    color: #fff;
    background-color: #d10000;
}

/* Add Product */
#div_id_on_sale {
    display: flex;
    margin-bottom: 8px;
}

#id_on_sale {
    margin-right: 8px;
}

#div_id_on_sale label {
    margin-bottom: 0;
}

/* Edit Product */
.span-edit-image label {
    display: inline;
}

#image-clear_id {
    margin-left: 8px;
}

#image-clear_id,
#id_image {
    margin-bottom: 8px;
}

/* Shopping Bag */
.bag-form-control {
    width: 69px;
    height: 38px;
    padding: 0 7px 0 7px;
    border: 1px solid #333333;
    border-radius: 7px;
}

/* Checkout */
#card-element {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    background-color: white;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 7px;
}

#card-errors .icon {
    background-color: transparent;
}

#submit-button {
    margin-left: 8px;
}

.fa-credit-card {
    margin-left: 3px;
}

@media (max-width: 478px) {
    .modal-content {
        width: 90%;
    }

    .modal {
        margin-top: 50px;
    }
}

/* Account */
#id_default_country {
    background-color: #fff;
}

.list-account-itmes {
    padding-left: 20px;
}