{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="page-header">Your Account</h2>
<div class="w-layout-blockcontainer container-user-account w-container">
    <h3 class="heading-user-account">Welcome, {{ user.username }}</h3>
    <p class="p-user-account"><span class="text-span-8">Do you have any improvement ideas or proposals?</span></p>
    <a href="{% url 'add_feedback' %}" class="btn-user-account w-button">Let Us Know<span
            class="icon1-user-account"></span> </a>
    {% if request.user.is_superuser %}
    <a href="{% url 'list_feedbacks' %}" class="btn-user-account w-button">View Proposals<span
            class="icon1-user-account"></span></a>
    {% endif %}
    <h4 class="h4-user-account">Your Transacted Orders</h4>
    <div class="w-layout-grid grid-4">
        <div class="th-user-account">Order Number</div>
        <div class="th-user-account">Items</div>
        <div class="th-user-account">Date</div>
        <div class="th-user-account">Total Price</div>
        {% for order in orders %}
        <div>{{ order.order_number|truncatechars:10 }}
        </div>
        <ul class="list-account-itmes" role="list">
            {% for item in order.orderlineitems.all %}
            <li>{{ item.product.name }} {% if item.product.has_weight %}{{ item.product_weight }}{% endif %}
                x{{ item.quantity }} {{ item.product.price }}$</li>
            {% endfor %}
        </ul>
        <div>{{ order.date }}</div>
        <div>{{ order.grand_total }}$</div>
        {% endfor %}
    </div>
    <h4 class="h4-user-account">You want to return goods you already received?</h4>
    <a href="{% url 'add_return' %}" class="btn-user-account w-button">Register Return<span
            class="icon2-user-account"></span> </a>
    {% if request.user.is_superuser %}
    <a href="{% url 'list_returns' %}" class="btn-user-account w-button">View Returns<span
            class="icon1-user-account"></span> </a>
    {% endif %}
    <h4 class="h4-user-account">Standard Delivery Information</h4>
    <div class="form-block-user-account w-form">
        <form action="{% url 'account' %}" method="POST" class="form-checkout">
            {% csrf_token %}
            <label class="mt-s">Full Name</label>
            {{ form.default_full_name }}
            <label class="mt-s">Address</label>
            {{ form.default_delivery_address }}
            <label class="mt-s">Town or City</label>
            {{ form.default_town_or_city }}
            <label class="mt-s">ZIP Code</label>
            {{ form.default_zip_code }}
            <label class="mt-s">State</label>
            {{ form.default_state }}
            <label class="mt-s">Country</label>
            {{ form.default_country }}
            <button class="btn-user-account w-button">Update Information<span class="text-span-9"></span></button>
            <h4 class="h4-user-account">Newsletter Subscription</h4>
            <p class="p-user-account">With this option, you can subscribe to a free monthly newsletter service that
                includes product releases and preparation suggestions.</p>
            {{ form.has_newsletter_sub }}
            <span class="mt-s checkbox-label w-form-label" for="checkbox-newsletter">Subscription Active</span>
            <br>
            <label class="mt-s">Email Address for Newsletter</label>
            {{ form.newsletter_email_address }}
            <button class="btn-user-account w-button">Subscribe / Unsubscribe<span
                    class="text-span-10"></span></button>
        </form>
    </div>
</div>
{% endblock %}