{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/modal-feedback.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h2 class="page-header">Personal Feedback</h2>
<div class="w-layout-blockcontainer container-checkout w-container">
    <div class="form-block-checkout w-form">
        <form method="POST" action="{% url 'add_feedback' %}" enctype="multipart/form-data" class="form-checkout">
            {% csrf_token %}
            <span>
                {{ form.user.as_hidden }}
                {{ form.reason | as_crispy_field }}
                {{ form.content | as_crispy_field }}
            </span>
            <p>Fields with an * are required!</p>
            <p class="text-bold"><strong>No one but us will read this feedback, and it will not be published.</strong>
            </p>
            <div class="container-btns-bag-l">
                <a href="{% url 'account' %}" class="btn-bag-main w-button"><span class="text-span-14"></span>Your
                    Account</a>
                <a id="btn-feedback-m" href="#" class="btn-bag-main w-button">Create &amp;
                    Send<span class="text-span-15"></span></a>
            </div>
            <div class="container-btns-bag-s">
                <a id="btn-feedback-s" href="#" class="btn-bag-main w-button">Create &amp;
                    Send<span class="text-span-16"></span></a>
                <a href="#" class="btn-bag-main w-button"><span class="text-span-17"></span>Your Account</a>
            </div>
            <!-- Confirmation Modal -->
            <div id="modal-feedback" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Send Feedback?</h4>
                        <span class="modal-close" id="close-feedback">&times;</span>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to send this feedback?
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="cancel-feedback" class="btn">Go Back</a>
                        <button id="submit-button" class="btn">Send
                            Feedback<i class="ml-s fa-solid fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}