{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="page-header">Customer Feedbacks:</h2>
{% if feedbacks %}
{% for feedback in feedbacks %}
<div class="w-layout-blockcontainer container-product-review w-container">
    <h4 class="h4-product-review">{{ feedback.reason }}</h4>
    <p class="p-product-review">{{ feedback.content }}</p>
    <p class="p-product-review">Written By: {{ feedback.user }}</p>
    <p class="p-product-review">Sent At: {{ feedback.date }}</p>
</div>
{% endfor %}
{% else %}
<h2 class="text-white center">No customer feedback has been received yet!</h2>
{% endif %}
{% endblock %}