{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="page-header">Incoming Returns:</h2>
{% if returns %}
{% for return in returns %}
<div class="w-layout-blockcontainer container-product-review w-container">
    <h4 class="h4-product-review">{{ return.order }}</h4>
    <p class="p-product-review"><span class="text-bold">Sent Products: </span>{{ return.products }}</p>
    <p class="p-product-review"><span class="text-bold">Reason: </span><span>{{ return.reason }}</span></p>
    <p class="p-product-review"><span class="text-bold">Action: </span><span>{{ return.action }}</span></p>
    <p class="p-product-review"><span class="text-bold">Sent By: </span>{{ return.user }}</p>
    <p class="p-product-review"><span class="text-bold">Sent At: </span>{{ return.date }}</p>
</div>
{% endfor %}
{% else %}
<h2 class="text-white">No returns have been registered so far!</h2>
{% endif %}
{% endblock %}