.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Merriweather, serif;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Caveat, sans-serif;
  font-size: 2.0625rem;
  font-weight: 700;
  line-height: 1;
}

.icon, .navbar {
  background-color: #032407;
}

.text-block {
  color: #fff;
  margin-top: 0;
  font-size: 17px;
  font-weight: 700;
}

.brand {
  margin-top: 23px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.search-input {
  width: auto;
  height: 40px;
  border-radius: 7px;
}

.search {
  width: 20rem;
  height: 40px;
  border: 1px #000;
  border-radius: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0;
  padding-right: 0;
  display: flex;
}

.search.mt-s {
  margin-left: 0;
}

.body {
  color: #333;
  background-color: #484848;
  border: 0 #000;
  margin-right: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.nav-menu {
  width: auto;
  max-width: 750px;
  margin-right: 0;
  display: flex;
}

.nav-link {
  margin-left: 0;
}

.nav-link.cart {
  background-color: #f4c430;
  padding-top: 23px;
}

.search-button {
  background-color: #61400f;
  margin-left: 0;
}

.section-hero {
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/tea-herbs.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  background-clip: border-box;
  border-radius: 7px;
}

.section-hero.mt-s {
  margin-top: 0;
}

.mt-xs {
  margin-top: 8px;
}

.mt-xs.mr-xs.ml-xs {
  max-width: none;
}

.grid {
  grid-template-rows: auto;
  grid-template-columns: .35fr 1fr;
}

.image {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 300px;
}

.grid-hero {
  min-height: 300px;
  grid-template: ". Area"
  / 1fr .5fr;
  align-items: center;
  justify-items: center;
}

.image-hero {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 300px;
}

.text-block-2 {
  color: #fff;
}

.logo {
  color: #fdfdfd;
  padding-top: 5px;
  font-family: Great Vibes, cursive;
  font-size: 28px;
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.text-white.mb-s {
  margin-bottom: 16px;
}

.text-white.hero-heading {
  font-size: 3.125rem;
}

.search-button-2 {
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  margin-left: 7px;
  font-family: "Fa Solid 900", sans-serif;
}

.nav-element {
  margin-top: 3px;
}

.button-hero {
  text-transform: uppercase;
  background-color: #f4c430;
  border-radius: 7px;
  margin-top: 0;
  font-family: Merriweather, serif;
  font-weight: 700;
}

.button-hero.mt-xs {
  background-color: #f4c430;
  margin-top: 0;
  position: static;
}

.button-hero.mt-s {
  color: #242424;
  font-size: 15px;
  box-shadow: 0 0 20px 8px #f4c430;
}

.button-hero.mt-s.ml-s {
  padding-left: 24px;
  padding-right: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  position: static;
}

.button-hero.mt-s.mb-s.button-product {
  box-shadow: none;
  color: #333;
  border: 1px solid #333;
}

.mb-xs {
  margin-bottom: 8px;
}

.mr-xs {
  margin-right: 8px;
}

.div-block, .ml-xs {
  margin-left: 8px;
}

.mt-s {
  margin-top: 16px;
}

.mt-s.mr-s.ml-s {
  max-width: 800px;
  text-align: left;
  display: block;
  position: static;
}

.mt-s.ml-s {
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  bottom: 1px;
}

.hero-product-list {
  background-color: #484848;
  border-radius: 7px;
}

.list-hero {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-radius: 0;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  display: grid;
}

.list-hero.pt-s.pb-s {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.list-hero.pt-s.pb-s.pr-s.pl-s {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 0;
  padding-right: 0;
}

.list-item-product {
  height: 333px;
  background-color: #fff;
  border-radius: 7px;
  margin-left: 0;
  margin-right: 0;
  padding: 16px;
}

.list-item-product.pl-s.pr-s {
  height: auto;
  text-align: center;
  padding-bottom: 16px;
}

.list-item-product.pl-2.pr-s {
  height: auto;
}

.list-item-product.pr-s.pl-s {
  padding-top: 16px;
}

.img-list-hero {
  margin-top: 0;
}

.img-list-hero.mt-xs {
  margin-top: 18px;
}

.mr-s {
  margin-right: 16px;
}

.ml-s {
  margin-left: 16px;
  position: static;
}

.ml-s.mt-s.button-hero {
  background-color: #f4c430;
  border-radius: 7px;
}

.h2-hero-products {
  text-transform: uppercase;
  font-size: 29px;
}

.h2-hero-products.mt-xs.ml-s.mr-s {
  font-size: 1.6rem;
}

.h2-hero-products.h2-fsize-l {
  font-size: 29px;
}

.mb-s {
  margin-bottom: 16px;
}

.div-block-2 {
  padding-top: 16px;
}

.pt-s {
  padding-top: 16px;
  padding-right: 0;
}

.pb-s {
  padding-bottom: 16px;
}

.pr-s {
  padding-right: 16px;
}

.pl-2, .pl-s {
  padding-left: 16px;
}

.cart-icon {
  border: 1px #000;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 28px;
}

.text-span-2 {
  font-family: "Fa Solid 900", sans-serif;
}

.dropdown-list {
  background-color: #988c8c;
}

.dropdown-list.w--open {
  background-color: #fff;
  border: 0 solid #000;
  border-radius: 7px;
}

.ddlist {
  width: auto;
  min-width: 150px;
  border: 1px solid #333;
  display: none;
}

.ddlist.w--open {
  max-width: 0;
  min-width: 200px;
  background-color: #fff;
  border-radius: 7px;
  display: block;
}

.ddlist.ddlist-products {
  min-width: 150px;
}

.ddlist.ddlist-products.w--open {
  min-width: 130px;
  text-align: center;
  padding-right: 0;
}

.ddlist.ddlist-tea.w--open, .ddlist.ddlist-oil.w--open {
  min-width: 130px;
}

.nav-dd-1, .nav-dd-2, .nav-dd-3, .nav-dd-4 {
  padding-top: 3px;
}

.hidden, .cart-text {
  display: none;
}

.body-2 {
  background-color: #484848;
  font-family: Roboto, sans-serif;
}

.div-block-3 {
  width: 45px;
}

.div-block-4 {
  width: 400px;
}

.div-block-5, .div-block-6 {
  width: 333px;
}

.div-block-7 {
  width: 222px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  background-color: #f4c430;
  border: 1px solid #000;
  border-radius: 7px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.div-block-7.mt-s {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.categories-dropdown {
  width: 150px;
  text-align: center;
  background-color: #fff;
  border-radius: 7px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.categories-dropdown.mt-s {
  width: 150px;
  height: auto;
  border-radius: 7px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
}

.dropdown-toggle {
  height: auto;
  padding: 10px 40px 10px 10px;
}

.dropdown-list-2 {
  background-color: #b9a4a4;
}

.dropdown-list-2.w--open {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 7px;
}

.catergoy-button-4 {
  width: 120px;
  color: #333;
  text-align: center;
  background-color: #f4c430;
  border: 0 solid #333;
  border-radius: 7px;
  padding-left: 12px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
  display: block;
  box-shadow: 0 0 20px 8px #f4c430;
}

.list-products {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 0;
  display: grid;
}

.list-products.pt-s.pb-s {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list-products.mt-s {
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 32px;
  margin-bottom: 0;
}

.category-button {
  width: 120px;
  color: #333;
  text-align: center;
  background-color: #f4c430;
  border-radius: 7px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 12px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.category-button.ml-s {
  color: #333;
  background-color: #f4c430;
  border: 0 solid #484848;
  border-radius: 7px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.category-button.ml-s.mr-b-s {
  margin-left: 0;
}

.category-button.mr-a {
  margin-right: auto;
}

.category-button.ml-a {
  margin-left: auto;
}

.category-button.category-button-a {
  box-shadow: 0 0 20px 8px #f4c430;
}

.div-btns-category {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  margin-top: 16px;
  display: flex;
}

.page-header {
  color: #fff;
  text-align: center;
  margin-top: 16px;
  font-size: 3.5rem;
}

.page-header.mt-s {
  font-size: 50px;
}

.page-header.mt-s.mb-s {
  margin-bottom: 0;
}

.grid-2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.category-button-2 {
  width: 120px;
  color: #333;
  text-align: center;
  background-color: #f4c430;
  border-radius: 7px;
  margin-right: 0;
  padding-left: 12px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.category-button-2.ml-s {
  color: #333;
  background-color: #f4c430;
  border: 0 solid #484848;
  border-radius: 7px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.category-button-2.ml-s.mr-b-s {
  margin-left: 0;
}

.category-button-2.mr-a {
  margin-right: auto;
}

.category-button-2.ml-a {
  margin-left: auto;
}

.category-button-3 {
  width: 120px;
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  justify-content: center;
  margin-right: 0;
  padding-left: 12px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
  display: block;
}

.dropdown-link {
  border-bottom: 1px solid #000;
}

.dropdown-link.dropdown-link-upper {
  border-style: none none solid;
  border-color: #333;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.ddlist-upper {
  text-align: left;
  border-bottom: 1px solid #333;
}

.ddlist-bottom {
  border-top: 1px solid #333;
}

.container-2 {
  background-color: rgba(0, 0, 0, 0);
}

.container-main {
  padding-top: 16px;
  padding-bottom: 16px;
}

.conatiner-product {
  width: 700px;
  background-color: #fff;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 88px 18px 0;
}

.heading-product {
  color: #333;
  -webkit-text-stroke-color: #333;
  margin-bottom: 4px;
  margin-left: 88px;
  margin-right: 0;
  padding-top: 0;
  padding-left: 0;
  font-size: 33px;
}

.img-product-detail {
  margin-left: 31px;
  padding-top: 0;
  padding-left: 0;
}

.paragraph {
  padding-left: 72px;
}

.form-block {
  margin-bottom: 0;
  padding-top: 36px;
  padding-left: 72px;
}

.btn1-l-product-detail {
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  margin-top: 0;
  margin-left: 88px;
  margin-right: 8px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.btn2-l-product-detail {
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.product-detail-info {
  margin-bottom: 8px;
  margin-left: 88px;
  padding-bottom: 0;
  padding-left: 0;
}

.detail-category-link {
  color: #333;
  margin-left: 88px;
  padding-left: 0;
}

.product-input-detail {
  width: 69px;
  border-radius: 0;
  margin: 8px auto 0 88px;
  padding-top: 0;
  padding-left: 0;
}

.product-input-form {
  width: 69px;
}

.text-field {
  height: 38px;
  border-radius: 7px;
  margin-bottom: 0;
}

.text-span-3 {
  font-family: "Fa Regular 400", sans-serif;
}

.category-symbol {
  margin-left: 2px;
  font-family: "Fa Regular 400", sans-serif;
}

.text-span-4 {
  font-family: "Fa Solid 900", sans-serif;
}

.btn1-product-icon {
  margin-right: 5px;
  font-family: "Fa Solid 900", sans-serif;
}

.btn2-product-detail-icon {
  margin-left: 8px;
  font-family: "Fa Solid 900", sans-serif;
}

.conatiner {
  width: 700px;
  background-color: #fff;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 88px 18px 0;
}

.container-product-detail {
  max-width: 626px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 7px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 88px;
}

.div-l-btns-products {
  margin-top: 16px;
  display: flex;
}

.div-s-btns-product {
  display: none;
}

.btn2-s-product-detail {
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  font-family: Caveat, sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.btn1-s-product-detail {
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  margin-top: 0;
  margin-left: 88px;
  margin-right: 8px;
  font-family: Caveat, sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.text-span-5 {
  font-family: "Fa Solid 900", sans-serif;
}

.container-shopping-bag {
  max-width: 626px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 7px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
}

.div-block-11 {
  width: 200px;
  float: right;
  background-color: #f4c430;
  border-radius: 7px;
  position: relative;
}

.heading-3 {
  font-family: Caveat, sans-serif;
  font-size: 31px;
  position: static;
}

.icon-shopping-bag-s {
  margin-left: 5px;
  font-family: "Fa Solid 900", sans-serif;
}

.grid-3 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

.list-item, .list {
  list-style-type: none;
}

.text-span-6 {
  font-family: "Fa Solid 900", sans-serif;
}

.list-shopping-bag {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "."
                 "."
                 "."
                 / 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
  display: block;
}

.img-container-bag-l {
  width: auto;
  display: flex;
}

.paragraph-2 {
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.div-block-13 {
  display: inline-block;
}

.list-item-bag-l {
  height: 80px;
  border: 0 solid rgba(51, 51, 51, .3);
  border-top-width: 1px;
  margin-top: 8px;
  display: flex;
}

.link-item-bag {
  width: auto;
  color: #333;
  align-items: center;
  margin-left: 8px;
  text-decoration: none;
  display: flex;
}

.product-input-bag {
  width: 122px;
  border-radius: 0;
  align-items: center;
  margin: 0 8px 0 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.btn-bag-edit {
  height: 38px;
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  justify-content: center;
  margin-left: 8px;
  margin-right: 0;
  font-family: Caveat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.container-input-bag {
  align-items: center;
  margin-left: 16px;
  display: flex;
}

.container-name-bag {
  width: 150px;
  align-items: center;
  display: flex;
}

.div-block-16 {
  width: auto;
  align-items: center;
  margin-left: 8px;
  margin-right: 0;
  display: flex;
}

.bag-counter {
  margin-bottom: 0;
  margin-left: 0;
}

.bag-info {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.img-bag {
  width: 70px;
  max-width: none;
  min-width: auto;
  display: block;
}

.container-bag-edit-button {
  align-items: center;
  margin-left: 8px;
  display: flex;
}

.form-bag {
  align-items: center;
  display: flex;
}

.list-item-bag-s {
  display: none;
}

.bag-item-price {
  align-items: center;
  margin-bottom: 0;
  margin-left: 16px;
  font-weight: 400;
  display: flex;
}

.list-item-bag-l-copy {
  border: 0 solid rgba(51, 51, 51, .3);
  border-top-width: 1px;
  display: flex;
}

.item-bag-price {
  align-items: center;
  margin-left: 32px;
  display: flex;
}

.bag-grand-total {
  font-weight: 700;
}

.btn-bag-main {
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  margin-right: 8px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.btn-icon1-bag {
  margin-right: 5px;
  font-family: "Fa Solid 900", sans-serif;
}

.btn-icon2-bag {
  margin-left: 8px;
  font-family: "Fa Solid 900", sans-serif;
}

.container-btns-bag-l {
  margin-top: 8px;
}

.container-btns-bag-s {
  margin-top: 8px;
  display: none;
}

.container-checkout {
  max-width: 626px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 7px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
}

.input-checkout-form {
  border: 1px solid #333;
  border-radius: 7px;
  margin-bottom: 8px;
}

.form-checkout {
  margin-top: 0;
}

.heading-checkout {
  margin-top: 32px;
  margin-bottom: 8px;
}

.heading-upper-checkout {
  margin-top: 0;
  margin-bottom: 8px;
}

.text-bold {
  margin-bottom: 0;
  font-weight: 700;
}

.text-span-7 {
  font-weight: 700;
}

.text-span-8 {
  display: inline;
}

.list-checkout-success {
  margin-top: 8px;
  margin-bottom: 0;
  list-style-type: none;
}

.list-item-checkout-success {
  border: 0 solid #000;
  list-style: disc;
}

.container-user-account {
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 7px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  display: block;
}

.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 8px;
}

.th-user-account {
  font-weight: 700;
}

.btn-user-account {
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  margin-top: 8px;
  margin-right: 8px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.icon1-user-account {
  margin-left: 8px;
  font-family: "Fa Regular 400", sans-serif;
}

.icon2-user-account {
  margin-left: 8px;
  font-family: "Fa Solid 900", sans-serif;
}

.heading-user-account {
  margin-top: 0;
  margin-bottom: 0;
}

.p-checkout-success {
  margin-top: 8px;
  margin-bottom: 0;
}

.heading-4, .heading-5 {
  margin-top: 16px;
  margin-bottom: 0;
}

.paragraph-6 {
  margin-top: 8px;
  margin-bottom: 0;
}

.h4-checkout-success {
  margin-top: 16px;
  margin-bottom: 0;
}

.p-user-account {
  margin-top: 8px;
  margin-bottom: 0;
}

.h4-user-account {
  margin-top: 32px;
  margin-bottom: 0;
}

.form-block-checkout, .form-block-user-account {
  max-width: 400px;
  margin-bottom: 0;
}

.text-span-9 {
  margin-left: 5px;
  font-family: "Fa Solid 900", sans-serif;
}

.checkbox-label {
  margin-bottom: 0;
}

.checkbox-newsletter {
  margin-top: 5px;
  margin-bottom: 0;
}

.checkbox {
  margin-top: 2px;
}

.text-span-10 {
  margin-left: 5px;
  font-family: "Fa Regular 400", sans-serif;
}

.modal-wrapper {
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-background {
  background-color: rgba(0, 0, 0, .2);
  justify-content: center;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-card {
  width: auto;
  height: auto;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 7px;
  padding: 8px;
  position: relative;
}

.div-block-18 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-modal-close {
  float: right;
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  margin-left: 0;
  font-family: "Fa Solid 900", sans-serif;
  font-weight: 400;
  display: inline-block;
}

.h3-modal {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

.text-span-11 {
  font-weight: 700;
}

.paragraph-7 {
  margin-bottom: 0;
}

.container-btns-bag-modal-l {
  margin-top: 8px;
  position: static;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.paragraph-8 {
  margin-bottom: 8px;
}

.container-product-review {
  max-width: 626px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 7px;
  margin-top: 16px;
  margin-bottom: 0;
  padding: 16px 88px 16px 16px;
}

.h4-product-review {
  word-break: break-all;
  margin-top: 0;
  margin-bottom: 0;
}

.p-product-review {
  margin-top: 8px;
  margin-bottom: 0;
}

.link-block {
  color: #333;
  text-decoration: none;
}

.p-price-product-card {
  margin-top: 8px;
  margin-bottom: 0;
}

.product-price {
  font-weight: 700;
}

.list-item-product-hero {
  height: 400px;
  background-color: #fff;
  border-radius: 7px;
  margin-left: 0;
  margin-right: 0;
  padding: 16px;
}

.list-item-product-hero.pl-s.pr-s {
  height: auto;
  text-align: center;
  padding-bottom: 16px;
}

.list-item-product-hero.pl-2.pr-s {
  height: auto;
}

.list-item-product-hero.pr-s.pl-s {
  padding-top: 16px;
}

.form-sort-products {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.select-field {
  background-color: #fff;
  border-radius: 7px;
  margin-bottom: 0;
}

.sort-selector {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  margin-top: 16px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.product-price-old {
  font-weight: 400;
  text-decoration: line-through;
}

.p-price-product-detail {
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: 88px;
}

.btn1-l-product-edit {
  width: 33px;
  height: 33px;
  color: #333;
  background-color: #ff743d;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 88px;
  margin-right: 0;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
  display: flex;
}

.text-span-12 {
  color: #fff;
  font-family: "Fa Solid 900", sans-serif;
}

.btn1-l-product-delete {
  width: 33px;
  height: 33px;
  color: #333;
  background-color: red;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 8px;
  margin-right: 0;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
  display: flex;
}

.div-l-btns-small {
  margin-top: 16px;
  display: flex;
}

.btn1-s-product-edit {
  width: auto;
  height: auto;
  color: #333;
  background-color: #f4c430;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 8px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
  display: inline-block;
}

.btn1-s-product-delete {
  width: auto;
  height: auto;
  color: #fff;
  background-color: #d10000;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 9px;
  font-family: Caveat, sans-serif;
  font-size: 21px;
  font-weight: 700;
  display: inline-block;
}

.text-span-13 {
  font-family: "Fa Solid 900", sans-serif;
}

.heading-upper-checkout-copy {
  margin-top: 0;
  margin-bottom: 8px;
}

.text-bold-copy {
  margin-bottom: 0;
  font-weight: 700;
}

.text-span-14 {
  margin-right: 8px;
  font-family: "Fa Solid 900", sans-serif;
}

.text-span-15 {
  margin-left: 8px;
  font-family: "Fa Solid 900", sans-serif;
}

.list-2, .list-3 {
  padding-left: 20px;
}

.grid-return {
  border-bottom: 1px solid #333;
  border-radius: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-top: 8px;
}

.text-block-3 {
  text-align: left;
}

.paragraph-9 {
  margin-top: 8px;
  margin-bottom: 0;
}

.paragraph-10 {
  margin-bottom: 0;
}

.text-white {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .icon {
    color: #333;
    background-color: #f4c430;
    border-radius: 7px;
  }

  .navbar {
    background-color: #032407;
  }

  .search {
    margin-top: 0;
  }

  .search.mt-s {
    margin-top: 16px;
  }

  .nav-menu {
    background-color: #959595;
    justify-content: flex-start;
  }

  .nav-link.cart {
    width: 15rem;
    text-transform: none;
    border-top-right-radius: 7px;
    padding-top: 20px;
    font-family: Caveat, sans-serif;
    font-size: 31px;
  }

  .logo {
    padding-top: 0;
  }

  .nav-element {
    margin-top: -16px;
    display: inline-block;
  }

  .list-item-product {
    height: auto;
  }

  .mb-s {
    margin-bottom: 16px;
  }

  .cart-icon {
    margin-left: 16px;
  }

  .ddlist {
    margin-bottom: 16px;
    margin-left: 16px;
    display: none;
  }

  .ddlist.w--open {
    width: 728px;
  }

  .nav-dd-1, .nav-dd-2, .nav-dd-3, .nav-dd-4 {
    margin-left: 0;
    display: block;
  }

  .hidden {
    display: none;
  }

  .cart-text {
    display: inline-block;
  }

  .menu-button {
    background-color: #032407;
  }

  .menu-button.w--open {
    background-color: #959595;
  }

  .menu-button.menu-button-corner.w--open {
    background-color: #032407;
  }

  .catergoy-button-4 {
    display: block;
  }

  .list-products.pt-s.pb-s {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .list-products.mt-s {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .category-button.ml-a {
    margin-right: 0;
  }

  .div-btns-category {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .div-btns-category.pl-s {
    padding-left: 0;
  }

  .category-button-2.ml-a, .container {
    margin-right: 0;
  }

  .div-block-9 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .button-2 {
    float: right;
    display: block;
    position: relative;
  }

  .div-block-10 {
    height: 0;
    float: right;
    position: relative;
  }

  .button-3 {
    float: right;
    margin-top: 10px;
    display: block;
    position: relative;
  }

  .flex-block {
    height: 30px;
    max-height: 30px;
    float: right;
    clear: none;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
    position: relative;
  }

  .product-container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #fff;
    border: 1px solid #fff;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .heading-2 {
    background-color: rgba(0, 0, 0, 0);
  }

  .container-2 {
    background-color: #c70c0c;
  }

  .container-product-detail, .container-shopping-bag, .container-checkout {
    max-width: 626px;
  }

  .input-checkout-form {
    border: 1px solid #333;
    border-radius: 7px;
  }

  .container-user-account {
    max-width: 626px;
  }

  .paragraph-4 {
    margin-bottom: 8px;
  }

  .container-product-review {
    max-width: 626px;
  }

  .list-item-product-hero {
    height: auto;
  }

  .grid-return {
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  .search.mt-s {
    margin-bottom: 8px;
  }

  .section-hero {
    border-radius: 0;
  }

  .section-hero.mt-s {
    border-radius: 7px;
    margin-top: 0;
  }

  .mt-xs {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .mt-xs.mb-xs, .mt-xs.mb-xs.mr-xs.ml-xs {
    margin-left: 8px;
    margin-right: 8px;
  }

  .mt-xs.mr-xs {
    max-width: none;
    margin-right: 8px;
  }

  .grid-hero {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
    margin-left: 16px;
    margin-right: 16px;
  }

  .image-hero {
    display: none;
  }

  .text-white.mb-s {
    margin-bottom: 8px;
  }

  .nav-element {
    margin-top: -24px;
  }

  .button-hero.mt-s.mb-s {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .mb-xs {
    margin-bottom: 8px;
  }

  .mt-s {
    margin-top: 8px;
    margin-bottom: 0;
  }

  .hero-product-list {
    border-radius: 0;
  }

  .hero-product-list.mt-s {
    margin-top: 0;
  }

  .list-hero {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .list-hero.pt-s.pb-s {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0;
  }

  .list-hero.pt-s.pb-s.pr-s.pl-s {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-top: 0;
    padding: 0 8px;
  }

  .list-item-product {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .list-item-product.pl-s.pr-s, .list-item-product.pl-2.pr-s {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
  }

  .nav-dd-1 {
    margin-top: 21px;
  }

  .categories-dropdown {
    margin-top: 8px;
  }

  .categories-dropdown.mt-s {
    margin-top: 16px;
  }

  .catergoy-button-4 {
    width: 120px;
    margin-right: 0;
  }

  .list-products {
    margin-bottom: 0;
    padding-top: 0;
  }

  .list-products.mt-s {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    padding-left: 8px;
    padding-right: 8px;
  }

  .list-products.mt-s.pl-s {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding-left: 8px;
  }

  .category-button {
    width: 120px;
  }

  .div-btns-category {
    max-width: 265px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
    display: grid;
  }

  .div-btns-category.pl-s {
    padding-left: 16px;
  }

  .page-header {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .container-main {
    padding: 8px;
  }

  .conatiner-product {
    width: auto;
  }

  .heading-product {
    margin-left: 16px;
  }

  .img-product-detail {
    margin-left: 0;
  }

  .btn1-l-product-detail {
    margin-top: 8px;
    margin-left: 0;
  }

  .btn2-l-product-detail {
    margin-left: 0;
    display: inline-block;
  }

  .product-detail-info, .detail-category-link, .product-input-detail {
    margin-left: 16px;
  }

  .conatiner {
    width: auto;
  }

  .container-product-detail {
    max-width: 313px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
  }

  .div-l-btns-products {
    margin-left: 8px;
    display: none;
    overflow: visible;
  }

  .div-s-btns-product {
    margin-top: 8px;
    margin-left: 16px;
    display: block;
  }

  .btn2-s-product-detail {
    margin-left: 0;
    display: inline-block;
  }

  .btn1-s-product-detail {
    margin-top: 8px;
    margin-left: 0;
  }

  .container-shopping-bag {
    max-width: 626px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
  }

  .product-input-bag {
    margin-left: 16px;
  }

  .container-checkout, .container-user-account {
    max-width: 626px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
  }

  .container-product-review {
    max-width: 313px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
  }

  .list-item-product-hero {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .list-item-product-hero.pl-s.pr-s, .list-item-product-hero.pl-2.pr-s {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
  }

  .p-price-product-detail {
    margin-left: 16px;
  }

  .btn1-l-product-edit {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 8px;
  }

  .btn1-l-product-delete {
    margin-top: 8px;
    margin-left: 0;
  }

  .div-l-btns-small {
    margin-top: 8px;
    margin-left: 16px;
    display: flex;
    overflow: visible;
  }

  .btn1-s-product-edit {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 8px;
  }

  .btn1-s-product-delete {
    margin-top: 8px;
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    justify-content: flex-start;
    display: block;
  }

  .nav-link.cart {
    border-radius: 0 7px 0 0;
  }

  .section-hero.mt-s {
    height: 900px;
  }

  .mt-xs.mb-xs.mr-xs.ml-xs {
    margin-left: 8px;
    margin-right: 8px;
  }

  .grid-hero {
    height: 89vh;
  }

  .text-white {
    max-width: 300px;
    text-align: center;
    display: block;
  }

  .text-white.mb-s {
    max-width: 200px;
  }

  .nav-element {
    display: inline-block;
  }

  .button-hero.mt-s {
    margin-top: 113px;
  }

  .button-hero.mt-s.mb-s {
    text-align: left;
  }

  .div-hero-wrapper {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .mt-s {
    text-align: left;
  }

  .list-hero {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    padding: 8px;
  }

  .list-hero.pt-s.pb-s {
    grid-template-columns: 1fr;
  }

  .list-hero.pt-s.pb-s.pr-s.pl-s {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .list-item-product {
    margin-top: 0;
    margin-bottom: 0;
  }

  .list-item-product.pl-s.pr-s {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .list-item-product.pl-2.pr-s {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
  }

  .img-list-hero.mt-xs {
    text-align: left;
    display: inline-block;
  }

  .h2-hero-products.mt-s {
    text-align: center;
  }

  .categories-dropdown.mt-s {
    margin-top: 16px;
  }

  .catergoy-button-4 {
    width: 120px;
    max-width: none;
    min-width: 120px;
    margin-right: 0;
  }

  .list-products.mt-s {
    grid-template-columns: 1fr;
    margin-top: 16px;
  }

  .category-button {
    margin-left: 0;
    margin-right: 0;
  }

  .category-button.ml-s {
    min-width: 120px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }

  .category-button.ml-s.mr-b-s {
    width: auto;
    max-width: none;
    min-width: 120px;
    object-fit: fill;
    margin-right: 16px;
  }

  .category-button.mr-a {
    margin-right: 0;
  }

  .category-button.ml-a {
    margin-left: auto;
    margin-right: 0;
  }

  .div-btns-category {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 8px;
    display: grid;
  }

  .page-header {
    margin-bottom: 0;
    font-size: 2.7rem;
  }

  .page-header.mt-s.mb-s {
    text-align: center;
  }

  .category-button-2 {
    margin-left: auto;
    margin-right: 0;
  }

  .category-button-2.ml-s {
    min-width: 120px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }

  .category-button-2.ml-s.mr-b-s {
    width: auto;
    max-width: none;
    min-width: 120px;
    object-fit: fill;
    margin-right: 16px;
  }

  .category-button-2.mr-a {
    margin-right: 0;
  }

  .category-button-2.ml-a {
    margin-left: auto;
    margin-right: 0;
  }

  .category-button-3 {
    margin-right: 0;
  }

  .conatiner-product {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
  }

  .heading-product {
    margin-left: 16px;
  }

  .img-product-detail {
    margin-left: 0;
  }

  .btn1-l-product-detail, .product-detail-info, .detail-category-link, .product-input-detail {
    margin-left: 16px;
  }

  .text-field {
    margin-right: 0;
  }

  .conatiner {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
  }

  .container-product-detail {
    margin-left: auto;
    margin-right: auto;
  }

  .div-s-btns-product {
    margin-top: 8px;
  }

  .btn1-s-product-detail {
    margin-left: 0;
  }

  .container-shopping-bag {
    margin-left: 8px;
    margin-right: 8px;
  }

  .list-item-bag-l {
    display: none;
  }

  .link-item-bag {
    max-width: 100px;
    padding-top: 0;
  }

  .product-input-bag {
    width: 130px;
    margin-left: auto;
  }

  .btn-bag-edit {
    margin-left: 8px;
  }

  .container-input-bag {
    display: flex;
  }

  .container-name-bag {
    width: 100px;
  }

  .img-bag {
    padding-top: 0;
  }

  .container-bag-edit-button {
    width: 150px;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 0;
  }

  .list-item-bag-s {
    height: auto;
    border-top: 1px solid rgba(51, 51, 51, .3);
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 20px;
    padding-bottom: 8px;
    display: block;
  }

  .container-upper-bag-item {
    display: flex;
  }

  .container-lower-bag-item {
    justify-content: flex-start;
    display: flex;
  }

  .bag-item-price {
    display: flex;
  }

  .list-item-bag-l-copy {
    display: none;
  }

  .div-block-17 {
    display: flex;
  }

  .item-bag-price {
    width: auto;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 48px;
    display: flex;
    position: static;
  }

  .container-item-links {
    width: auto;
    justify-content: flex-start;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }

  .container-item-lower {
    justify-content: flex-end;
    display: flex;
  }

  .bag-total {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .bag-delivery-cost {
    margin-bottom: 0;
    padding-top: 16px;
  }

  .bag-grand-total {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .btn-bag-main {
    margin-top: 8px;
  }

  .container-btns-bag-l {
    display: none;
  }

  .container-btns-bag-s {
    display: block;
  }

  .container-checkout {
    margin-left: 8px;
    margin-right: 8px;
  }

  .text-span-8 {
    font-weight: 700;
  }

  .list-checkout-success {
    list-style-type: none;
  }

  .list-item-checkout-success {
    border: 0 solid #000;
    list-style-type: square;
  }

  .container-user-account {
    margin-left: 8px;
    margin-right: 8px;
  }

  .grid-4 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .modal-card {
    height: auto;
    border-radius: 7px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .btn-modal-close {
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .h3-modal {
    font-size: 21px;
  }

  .text-span-11 {
    font-weight: 700;
  }

  .container-btns-bag-modal-l {
    display: none;
  }

  .container-product-review {
    margin: 8px 8px 0;
  }

  .h4-product-review {
    word-break: break-all;
  }

  .list-item-product-hero {
    margin-top: 0;
    margin-bottom: 0;
  }

  .list-item-product-hero.pl-s.pr-s {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .list-item-product-hero.pl-2.pr-s {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
  }

  .sort-selector {
    margin-top: 8px;
  }

  .btn1-l-product-edit {
    margin-left: 0;
    margin-right: 0;
  }

  .btn1-l-product-delete {
    margin-left: 8px;
  }

  .btn1-s-product-edit, .btn1-s-product-delete {
    margin-left: 16px;
  }

  .text-span-16 {
    margin-left: 8px;
    font-family: "Fa Solid 900", sans-serif;
  }

  .text-span-17 {
    margin-right: 8px;
    font-family: "Fa Solid 900", sans-serif;
  }

  .list-2, .list-3 {
    padding-left: 20px;
  }

  .grid-return {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}

#w-node-_6b98d864-29fd-f206-db6e-56e5b5fe9f43-b42247f5 {
  grid-area: Area;
}

#w-node-_5f7a03ee-ff50-78f2-9058-9115bb24e2e8-b42247f5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_902f14fa-680f-d960-a12e-a8aaf59e0fc4-b42247f5, #w-node-_7bb07948-71b8-339f-856a-b1819a103637-0d21465e, #w-node-_2c71ce9e-d0cf-bc2c-bf9b-93282c365d18-0d21465e, #w-node-_790e341a-0962-66ad-b7c0-0cb8a368fc2e-0d21465e, #w-node-fa4d4229-9540-4e01-3c34-c6e7d766c504-0d21465e {
  justify-self: center;
}

#w-node-_1c3e4860-a0aa-14c6-efda-1e6f534fe165-b6463186, #w-node-ec8ad328-f5c0-f280-e02b-fb8eaa02d625-9152b1fd, #w-node-_1e754306-0a08-976f-c5ea-668e871738f0-9152b1fd, #w-node-ddd63831-3879-1b1c-7d81-58c3aa8b57db-9152b1fd, #w-node-_18d37252-1075-23c2-005f-9e7b13c432ec-9152b1fd, #w-node-_5becaa56-bdea-bdea-0fe6-de4f39f165b3-9152b1fd, #w-node-_589a7200-169b-5361-bbc9-a4aae4d7fec4-9152b1fd, #w-node-_772a8ad6-143b-9a4c-b40c-a3d7bd04199a-9152b1fd, #w-node-_223539ac-94da-bdc6-8574-8aa23788f17b-9152b1fd, #w-node-_1262e891-2bea-8e59-c65b-9d6ee7615528-9152b1fd, #w-node-_6b233983-1530-f9d3-659a-e9b0a395cca3-9152b1fd, #w-node-_6083f80f-7a02-cb77-1a1b-3aae9fdebcd0-9152b1fd, #w-node-_69954938-7f41-94c1-a288-968aeb548536-cc231fd0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1efffa04-7d2b-f34f-2924-456662d119b4-cc231fd0 {
  justify-self: auto;
}

#w-node-_63935161-c905-cacc-6bad-c2e40e55e9a3-cc231fd0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_63935161-c905-cacc-6bad-c2e40e55e9aa-cc231fd0 {
  justify-self: auto;
}

@media screen and (max-width: 767px) {
  #w-node-e9b928be-2604-b034-a26d-93a198dcfa8b-0d21465e, #w-node-e9b928be-2604-b034-a26d-93a198dcfa8d-0d21465e, #w-node-e9b928be-2604-b034-a26d-93a198dcfa8f-0d21465e, #w-node-e9b928be-2604-b034-a26d-93a198dcfa91-0d21465e, #w-node-_52f4aab9-f23b-7662-6a3a-ea95b1a786f0-0d21465e, #w-node-_52f4aab9-f23b-7662-6a3a-ea95b1a786f2-0d21465e {
    justify-self: auto;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_902f14fa-680f-d960-a12e-a8aaf59e0fc4-b42247f5, #w-node-_7bb07948-71b8-339f-856a-b1819a103637-0d21465e, #w-node-_2c71ce9e-d0cf-bc2c-bf9b-93282c365d18-0d21465e, #w-node-_790e341a-0962-66ad-b7c0-0cb8a368fc2e-0d21465e, #w-node-fa4d4229-9540-4e01-3c34-c6e7d766c504-0d21465e {
    justify-self: auto;
  }
}


@font-face {
  font-family: 'Fa Solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa Regular 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}