{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h2 class="page-header">{% trans "Change Password" %}</h2>
<div class="w-layout-blockcontainer container-shopping-bag w-container">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-dark" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}