{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="w-layout-blockcontainer container-main w-container">
    <h2 class="page-header">Our Products</h2>
    <div class="div-btns-category">
        {% for c in categories %}
        {% if c in current_categories %}
        {% if current_categories|length == 1 %}
        <a href="{% url 'products' %}?category={{ category.name }}"
            class="category-button category-button-a w-button btn-odd">{{ c.display_name }}</a>
        {% else %}
        <a href="{% url 'products' %}?category={{ c.name }}"
            class="category-button w-button {% if forloop.counter|divisibleby:2 %}btn-even{% else %}btn-odd{% endif %}">{{ c.display_name }}</a>
        {% endif %}
        {% else %}
        <a href="{% url 'products' %}?category={{ c.name }}"
            class="category-button w-button {% if forloop.counter|divisibleby:2 %}btn-even{% else %}btn-odd{% endif %}">{{ c.display_name }}</a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="sort-select-container">
        <select id="sort-select-box">
            <option value="default" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to
                high)
            </option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                to low)
            </option>
            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                (A-Z)
            </option>
            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                Category (Z-A)
            </option>
        </select>
    </div>
    <ul role="list" class="list-products mt-s w-list-unstyled">
        {% for product in products %}
        <li class="list-item-product">
            {% if product.image %}
            <a href="{% url 'product_detail' product.id %}" class="w-inline-block"><img src="{{ product.image.url }}"
                    loading="lazy" alt="{{ product.name }}" class="img-list-hero"></a>
            {% else %}
            <a href="{% url 'product_detail' product.id %}" class="w-inline-block"><img src="{{ MEDIA_URL }}noimage.png"
                    loading="lazy" alt="{{ product.name }}" class="img-list-hero"></a>
            {% endif %}
            <a href="{% url 'product_detail' product.id %}" class="link-block w-inline-block">
                <h2 class="h2-hero-products mt-s">{{ product.name }}</h2>
            </a>
            <p class="p-price-product-card">
                {% if product.on_sale %}
                <span class="product-price-old">{{ product.old_price }}$</span> <span
                    class="product-price">{{ product.price }}$</span> per Pack
                {% else %}
                <span class="product-price">{{ product.price }}$</span> per Pack
                {% endif %}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#sort-select-box').change(function () {
        var selectBox = $(this);
        var url = new URL(window.location);

        var selectedValue = selectBox.val();
        if (selectedValue != "default") {
            var sortby = selectedValue.split("_")[0];
            var direction = selectedValue.split("_")[1];

            url.searchParams.set("sortby", sortby);
            url.searchParams.set("direction", direction);

            window.location.replace(url);
        } else {
            url.searchParams.delete("sortby");
            url.searchParams.delete("direction");

            window.location.replace(url);
        }
    })
</script>
{% endblock %}